* {
    margin: 0px;
}

body {
    background-color: rgba(253, 253, 253, 255);
    overflow: scroll;
}

.top-bar {
    height: 150px;
}

.topbar-right-float {
    float: right;
    height: 150px;
    position: relative;
}

#menu-btn {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    margin-top: 18%;
}

#admin-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    float: right;
}

#menu-btn button {
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

#social-links-color {
    display: inline-block;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero-image.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: right;
    position: absolute;
    top: 30%;
    left: 60%;
    color: white;
}

.hero-text h1 {
    font-size: 50px;
}

.hero-text p {
    font-size: 30px;
}

.hero-text button {
    font-size: 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}

nav {
    background-color: orange;
    position: sticky;
    width: 97.5%;
    left: 20px;
    top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    text-align: center;
    z-index: 9;
}

nav * {
    display: inline;
}

nav ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

nav li {
    margin: 20px;
}

nav a {
    padding: 5px;
    font-family: fantasy;
    font-size: 25px;
    color: #273f72;
    text-decoration: none;
}

.fa {
    width: 15px;
    height: 15px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-instagram {
    background: #8a3ab9;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login-btn:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}